@{
    Layout = "LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<p>Voçê não tem permissão para acessar essa funcionalidade, <a asp-controller="Home" asp-action="Index ">click aqui para voltar</a></p>